@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

.cards {
  
}

.card {

}

.card--sedans {
  background-color: var(--bright-orange);
}

.card--suvs {
  background-color: var(--dark-cyan);
}

.card--luxury {
  background-color: var(--darker-cyan);
}

.card__image {

}

.card__title {
  font-family: var(--big-shoulders);
  color: var(--light-gray)
}

.card__description {
  font-family: var(--lexend-deca);
  color: var(--transparent-white)
}

.btn {
  border-radius: 28px;
  font-family: var(--lexend-deca);
  background-color: var(--light-gray);
  font-size: 15px;
  padding: 15px 30px;
  border: none;
}

.btn--sedans {
  color: var(--bright-orange);
}

.btn--suvs {
  color: var(--dark-cyan);
}

.btn--luxury {
  color: var(--darker-cyan);
}


.btn:hover {
  cursor: pointer;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
